<nav class="bg-white shadow-md px-6 py-3 flex items-center justify-between">

  <!-- Logo -->
  <div class="text-2xl font-bold text-[#C5A059] tracking-wide">
    NETFOODIA
  </div>

  <!-- Right Actions -->
  <div class="flex items-center gap-3">

    <!-- Change Password -->
    <button
      *ngIf="isLoggedIn()"
      routerLink="/change-password"
      class="bg-[#C5A059] cursor-pointer text-white px-4 py-2 rounded-lg text-sm font-medium hover:bg-[#a8843f] transition duration-200"
    >
      Change Password
    </button>

    <!-- Profile Button -->
    <button
      *ngIf="isLoggedIn()"
      routerLink="/my-profile"
      class="w-10 h-10 flex items-center cursor-pointer justify-center rounded-full border border-gray-300 text-gray-600 hover:bg-gray-100 transition duration-200"
    >
      <i class="fa-solid fa-user"></i>
    </button>

    <!-- Logout -->
    <button
      *ngIf="isLoggedIn()"
      (click)="logout()"
      class="bg-red-500 text-white cursor-pointer px-4 py-2 rounded-lg text-sm font-medium hover:bg-red-600 transition duration-200"
    >
      Logout
    </button>

  </div>

</nav>